$grey-0: #ffffff;
$grey-10: #f6f6f6;
$grey-50: #f0f0f0;
$grey-100: #e0e0e0;
$grey-200: #c2c2c2;
$grey-300: #a3a3a3;
$grey-400: #858585;
$grey-500: #666666;
$grey-600: #4d4d4d;
$grey-700: #333333;
$grey-800: #1a1a1a;
$grey-900: #0a0a0a;
$grey-1000: #000000;

$primary-50: #e6fbff;
$primary-100: #ccf7fe;
$primary-200: #99eefd;
$primary-300: #66e6fc;
$primary-400: #33ddfb;
$primary-500: #00d5fa;
$primary-600: #00a0bc;
$primary-700: #006b7d;
$primary-800: #00353f;
$primary-900: #001519;
